*{
    margin: 0 ;
    padding:0;
}
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;  
}
#title{
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: crimson;

}
#activeSite{
    background-color: brown;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 30px;
}

h3{
    font-size:25px;
}

#instagram{
    height: 40px;
    width: auto;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 100vh;
    grid-template-areas:
    "nv"
    "he"
    "ma";
}

nav{
    grid-area: nv;
    background-color:cornsilk;

}

li{
    list-style: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ol{
    width: 100%;
    height:100%;
}

#smallinks{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.burger div{
    width: 55px;
    height: 10px;
    background-color: coral;
    
    margin: 5px;
    border-radius: 10% ;
    transition: all 0.5s;
}
.box{
    height: 50px;
    width: 45vw;
    left: -45vw;
    position: fixed;
    background-color: coral;
    transition: all 1s;
}

.boxActive{
    transform: translatex(45vw);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-6px, 15px);
    background-color: crimson;
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-6px, -15px);
    background-color: crimson;
}
.navLinks{
    position: fixed;
    left: -45vw;
    top: 5;
    background-color: coral;
    width:45vw;
    height:95vh ;
    transition: all 1s;
}

.internal{
    height:65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.external{
    height:30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navActive{
    transform: translateX(45vw);
   
}

.shadow{
    top: 0;
    width: 55vw;
    height: 100vh;
    opacity: 0;
    left: -55vw;
    transition: all 1s;
    position: fixed;
}

.shadowActive{
    opacity: 15%;
    background-color: black;
    left: 45vw;
}

header{
    grid-area: he;
    background-color: cornsilk;
    border-bottom: solid 3px coral ;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.mainpart{
    grid-area: ma;
    background-color: white;
    width: 100vw;
    
    
}

article{
    height: 25%;
    padding-left: 5px;
    padding-top: 5px;
    border-bottom: 3px solid gray;
    
}

.picLibrary{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 0;
    margin-right: 0;
}
.library{
    border-radius: 2px;
    width: 97vw;
  
    display: flex;
    flex-direction: row;
    overflow: auto;
    
}

#overlayPlus{
    position: absolute;
    width: 130px;
    height: auto;
    opacity: 80%;
}

.morePictures:hover .overlayPlus{
    opacity: 50%;
} 

.morePictures{
    position: relative;
}

.smallImg{
    height: 125px;
    width: 125px;
}

@media screen and (min-width: 1000px){
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20vh 6vh 100vh;
        grid-template-areas:
        "he"
        "nv"
        "ma";
        
    }
    #activeSite{
        width: 20vw;
        height: 100%;
    }
    header{
        border-bottom: none;
    }
    h3{
        font-size: 40px;
    }
    article{
        font-size: 20px;
        margin-left: 2vw;
    }


    #title{
        font-size: 90px;
    }

    .navLinks{
        display: flex;
        flex-direction: row;
        position: relative;
        left: 0;
        top: 0;
        align-items: left;
        width:100vw;
        height:6vh ;
        transition: all 0s;
    }
    .navActive{
        transform: 0;
    }
    .internal{
        height:auto;
        width: 75%;
        display: flex;
        flex-direction: row;
    }
    
    .external{
        height:auto;
        width: 20%;
        display: flex;
        flex-direction: row;
    }

    .burger div{
        display: none;
    }
    .box{
        display: none;
    }

    .picLibrary{
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 0;
        margin-right: 0;
    }
    .library{
        border-radius: 2px;
        width: 96vw;
      
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    
    #overlayPlus{
        position: absolute;
        width: 300px;
        height: auto;
        opacity: 80%;
    }
    

    .morePictures:active .overlayPlus{
        opacity: 80%;
    }
    
    
    .smallImg{
        height: 300px;
        width: 300px;
        object-fit: cover;
        image-resolution: 50dpi;
        margin: 2px;
    }

}
